label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(7.5rem, 1fr)
  ); /*encaixe automático - não importa quantas colunas vão precisar, mas deve-se informar a segunda opção, o mínimo e o máximo, no caso 7.5rem é o cálculo de 120/16(valor mínimo) e o 1fr vai se ajustar automáticamente(valor máximo) */
  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: 0.5rem;

  display: grid;
  justify-items: center;
  gap: 0.5rem;

  padding: 2rem 0.5rem 0.5rem;

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset; /*retira todas as informações do input*/
    position: absolute; /*vai ficar por cima de todos os elementos*/
    inset: 0;
  }

  .radio-image {
    background-image: url(../../assets/icons/radio-default.svg);

    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  &:hover,
  &:focus-within {
    border: 1px solid var(--stroke-highlight);
    & .radio-image {
      background-image: url(../../assets/icons/radio-hover.svg);
    }
  }

  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/radio-cheked.svg);
    }
  }
}
